.hero
    padding: 90px 0
    .hero-btn   
        border-radius: 25px
    .hero-wave
        top: -60px
        left: -60px

@media only screen and ( max-width: 992px )
    .hero
        padding: 60px 0 20px 0
        .hero-wave
            z-index: -1
