@import "colors.sass"

body 
	font-family: "Cocogoose Pro", sans-serif

.line
	width: 70px
	height: 1px
	
.to-top-btn
	position: fixed
	right: 140px
	bottom: 40px
	z-index: 1
	width: 60px
	height: 60px
	border-radius: 50%
	background-color: $aqua
	opacity: 0
	transition: opacity .3s linear
	&.show
		opacity: 1
	img 
		width: 30px
	@media only screen and ( max-width:  992px )
		right: 40px
	@media only screen and ( max-width:  567px )
		width: 40px
		height: 40px
		bottom: 10px
		right: 10px
		img 
			width: 20px
		

.btn-c
	background-color: $blue
	color: $white !important
	display: inline-block
	font-size: 15px
	letter-spacing: 0.38px
	font-weight: 300
	cursor: pointer
	min-width: 115px
	border-radius: 24px
	&.lg-c
		padding: 11px 24px
	&.sm-c
		padding: 10px 50px
		@media only screen and ( max-width: 576px )
			font-size: 10px
			padding: 7px 26px

.dots
	background-image: url("../../images/src/dots.svg")
	background-repeat: no-repeat

.container
	@media only screen and ( min-width: 1440px )
		max-width: 1420px
		